/* PRINCIPALE */

html{
  margin: 0;
}

body{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image:url(https://images.pexels.com/photos/799443/pexels-photo-799443.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size: auto;
}

/* HEADER */

header nav{
  display: block;
  text-align: center;
  
}

header nav ul{
  list-style-type:none;
  padding: 0;
}

header li a{
  display: block;
  padding: 20px;
}

header li a:hover{
  background-color: rgb(71, 175, 71);
  text-decoration: underline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header ul li a{
  display: block;
  text-decoration:none;
  color: #FFFFFF;
  font-size: 150%;
}


header nav ul li:hover ul{
  display: block;
  margin-left: 20px;
}


header .menu{
  background-color: rgb(71, 175, 71);
  font-family: cursive;
}

  
/* ACCUEIL */

section h2{
color: yellow;
font-family: cursive;
text-align: center;
padding: 3%;
}
 
.image{
margin-left: auto;
margin-right: auto; 
height: 255px;
width: 455px;
display: flex;
}

