/* PRINCIPALE */

html{
  margin: 0;
}

body{
 background-color: rgba(92, 89, 89, 0.781);
}

/* HEADER */

header nav{
  display: block;
  text-align: center;
  
}

header nav ul{
  list-style-type:none;
  padding: 0;
}

header li a{
  display: block;
  padding: 20px;
}

header li a:hover{
  background-color: wheat;
  text-decoration: underline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header ul li a{
  display: block;
  text-decoration:none;
  color: red;
  font-size: 200%;
}


header nav ul li:hover ul{
  display: block;
  margin-left: 20px;
}


header .menu{
  background-color: wheat;
  font-family: cursive;
}


/* SECTION 1 */

article p{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100%;
  padding: 5%;
}

.image{
height: 355px;
width: 230px;
box-shadow: 8px 8px 12px #aaa;

}

article{
  display: inline-flex;
  flex-direction: row;
  margin-right: 3%;
  margin-left: 3%;
}

/* SECTION 2 */

.article1{
  background-color: rgb(202, 71, 71);
  display: flex;
  flex-direction: row-reverse;
  padding: 2%;
}

.section1{
  padding: 4%;
  margin-left: auto;
  margin-right: auto;
}

.image2{
margin-left: auto;
margin-right: auto;
height: 355px;
width: 530px;
box-shadow: 8px 8px 12px rgb(182, 185, 132);
}