body

{background-image:url(https://www.numerama.com/content/uploads/2018/10/netflix-logo.jpg);
background-size: 20%;



}




img{
 
  margin-left: -4px;
  margin-right: 10px; 
  height: 280px;
  width: 500px;
animation-name: wsh;
animation-duration: 5s;

}

@keyframes wsh{

  from{
    width: 25%;
  }

  to{
    width: 40%;
  }
}

.net{
 	margin-left: 6px;
  	margin-right: 6px; 
  	height: 220px;
  	width: 420px;
  animation: rotation 5s linear ;
}

.ne{
	display: flex;
	font-family: cursive;
	color: white;

}

.ix{
	margin-left: 6px;
  	margin-right: 6px; 
  	height: 220px;
  	width: 420px;
}

.nne{
	font-family: cursive;
	color: white;
}

  .lol{
  
	margin-left: 6px;
  	margin-right: 6px; 
  	height: 220px;
  	width: 420px;
  animation: rotation 5s linear ;
	}


	.non{
			display: flex;
		font-family: cursive;
		color: white;

	}




@keyframes rotation {
  0% {
    transform: rotate(0) translateX(0px);
  }
  25%{
    transform: rotate(90deg) translateX(50px);
  }
  50%{
    transform: rotate(180deg) translateX(0px);
  }



.ouai
{
	 
  	height: 120px;
  	width: 120px;

}

span{color:white;
}

  

h2{font-family: cursive;
color: white;
}