
body

{
    background-image:linear-gradient(purple, violet );
	color:white;
	 font-family:fantasy;
}

img{
 
  	margin-left: -6px;
  	margin-right: 7px; 
  	height: 120px;
 	 width: 250px;
 	 box-shadow: 1px 1px 19px;
	background-color:blue;
 	padding: 10px;
 	border-radius: 10%;
 	display: table-footer-group;
 
  }

  .ouii{
 	font-family: cursive;
 	color: white;

 }

 .no{
 	height: 220px;
  	width: 355px;
  	animation: rotation 3s linear;
  	}

  	 article
  
  {padding:5px;
  }

  aside
  {padding:10px;
  margin :0 auto;
  
	}


 @keyframes rotation {
  0% {
    transform: rotate(0) translateX(0px);
  }
  25%{
    transform: rotate(300deg) translateX(20px);
  }
  50%{
    transform: rotate(320deg) translateX(0px);
  }



.page{
  
  text-align: auto;
  margin-bottom: auto;
  position: absolute;
  height: 60px;
  width: 10%;
  bottom: 0px;
  float: right;
}